.ship-form{
    margin: 30px 80px;
}
.ship-form input{
    display: block;
    
    margin-bottom: 5px;
    border-radius: 5px;
    width: 300px;
    border: 1px solid gray;
}
.error{
    color: red;
}